<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.guru2_9">


	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="page 1" >

		<activity
			android:name=".loginactivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="로그인 페이지"
			android:exported="true"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".memberjoinactivity1"
			android:label="회원가입 페이지"
			android:exported="true" />

		<activity
			android:name=".MainActivity"
			android:label="Home"
			android:exported="true" />

		<activity
			android:name=".mainpage_x_activity"
			android:label="Main"
			android:exported="true" />

		<activity
			android:name=".recipebook1_activity"
			android:label="recipebook"
			android:exported="true" />

		<activity
			android:name=".shoppinglist_xactivity"
			android:label="shopping"
			android:exported="true" />

		<activity
			android:name=".mypage_activity"
			android:label="mypage"
			android:exported="true" />

		<activity
			android:name=".foodrouletteactivity"
			android:label="foodroulette"
			android:exported="true" />

		<activity
			android:name=".memberjoinsuccesactivity"
			android:label="회원가입 성공 페이지"
			android:exported="true" />






	</application>

</manifest>

